body {
    font-family: Arial, Helvetica, sans-serif;
}


header {
    background-color: rgb(38, 44, 46);
    padding: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    color: rgb(192, 198, 201);
    border-bottom: 10px solid grey;
}

nav {
    float: left;
    width: 20%;
    height: 300px;
    background: rgb(215, 228, 245);
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav a
{
    color: rgb(53, 30, 30);
    font-size: 20px;
    font-family: fantasy;
}

article {
    float: left;
    padding: 20px;
    width: 80%;
    background-color: #f1f1f1;
    height: 300px;
}


section:after {
    content: "";
    display: table;
    clear: both;
}


footer {
    background-color: rgb(14, 15, 15);
    padding: 10px;
    text-align: center;
    color: white;
}

nav,
article {
    width: 100%;
    height: auto;
}
